.app {
  height: 100vh;
  display: flex;
  flex-direction: column;

  border: 1px solid #ddd;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-body {
  display: flex;
  flex: 1;
}

.navbar {
  background-color: #075e54;
  padding: 10px;
  color: white;
}

.navbar input {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
}
